@import "tailwindcss";

@theme{
  /* Fonts */
  --font-body: "system-ui", Avenir, Helvetica, Arial, sans-serif;
}

@layer base {
    body {
      background-color: black;
      color: white;
      font-family: var(--font-body);
      margin: 0;
      padding: 0;
    }
  }